allure-behave==2.9.43
allure-python-commons==2.9.43
attrs==21.2.0
behave==1.2.6
certifi==2021.5.30
chardet==4.0.0
idna==2.10
parse==1.19.0
parse-type==0.5.2
pluggy==0.13.1
requests~=2.25.1
selenium==4.0.0a7
six==1.16.0
urllib3==1.25.8
deepdiff==5.8.0
openpyxl~=3.0.3
xlrd==2.0.1
PyJWT~=2.6.0
retry~=0.9.2